/* ====== RESET ====== */
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    background: #bfc6cd;
}

#app-root {
    width: 100%;
    height: 100vh;
    padding: 20px;
}

/* ====== PAGE HEADER ====== */
#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#logo-container {
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-container img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

#nav-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.nav-row {
    display: flex;
    gap: 10px;
}

.nav-button {
    width: 100px;
    height: 36px;
    border-radius: 8px;
    border: 2px solid #000;
    background: #d8ebf8;
    cursor: default;
    font-size: 14px;
}
/* ====== END OF PAGE HEADER ====== */

/* ====== MAIN CONTENT BOX ====== */
.content-section {
    margin-top: 20px;
}

.content-box {
    width: 100%;
    /*max-width: 900px;*/
    background: #d8ebf8;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 10px;
    overflow-y: auto;
    margin: auto;
}

.content-box.fixed-height {
     height: 350px;
}

.content-box.fixed-width {
     width: 500px;
}
/* ====== END OF MAIN CONTENT BOX ====== */



/* ====== SPECIFICALLY FOR DATASET BOX ====== */
.dataset-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6px 10px;
    border-bottom: 1px solid #9bb6c9;
    font-size: 14px;
    cursor: pointer;
}

.dataset-row.active {
    background: #91b6d2;
}

.dataset-header {
    font-weight: bold;
    /*background: rgba(0,0,0,0.05);*/
    border-bottom: 2px solid #000;
    position: sticky;
    top: 0;
    opacity: 1;
}

/* ====== END OF DATASET BOX ====== */