<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audimus Ground Station</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styles.css') }}">
    <!-- Establish global variables needed to make the data functionality work -->
    <script>
        let clicked_id = null;
    </script>
</head>

<body>

<div id="app-root">

    <!-- Top Bar -->
    <header id="top-bar">

        <!-- Logo -->
        <div id="logo-container">
            <!-- Replace src with your static path -->
            <img src="/static/audimus_logo.png" alt="Audimus Logo">
        </div>

        <!-- Buttons -->
        <nav id="nav-controls">
                <button class="nav-button" id="about-button">About</button>
                <button class="nav-button" id="login-button">Login</button>
            <button class="nav-button" id="download-button">Download</button>
        </nav>

    </header>

    <!-- Dataset List -->
    <main class="content-section">
        <div class="content-box fixed-height">

            <div class="dataset-header">
                <div>Timestamp</div>
            </div>
            <!-- TODO: make a function which gets all acoustic datasets which have the flag "restricted" set to 0 -->
        <script>
            async function populate_databox() {
                const response = await fetch("/populate_databox", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        page: "guest",
                        datalist: "guest"
                    })
                });
                const box = document.getElementById("dataset-box");
                const data = await response.json();
                data.forEach(item => {
                    //create new thing
                    const new_set = document.createElement("div");
                    new_set.classList.add("dataset-row");
                    //TODO:add the timestamp as words in the div
                    new_set.textContent = item["timestamp"];
                    //TODO:add vriable local to this div
                    const timestamp_id = item["id"];
                    new_set.addEventListener("click", () => {
                        const currentlyActive = document.querySelector(".dataset-row.active");

                        if (currentlyActive && currentlyActive !== new_set) {
                            currentlyActive.classList.remove("active");
                        }

                        new_set.classList.add("active");
                        clicked_id = timestamp_id;
                        //TODO change global var to this div's local var
                    });
                    //append it to the list
                    box.appendChild(new_set);
                })
            }
            populate_databox();
        </script>

        </div>
    </main>

</div>
    <!-- Download Button: -->
    <script defer>
        const download_button = document.getElementById("download-button");

        download_button.addEventListener("click", async () => {
            if (clicked_id !== null) {
                const response = await fetch("/data", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        id: clicked_id
                    })
                });
                const data = await response.json();
                // 2. Create a Blob (in-memory file)
                const blob = new Blob([data[0]["raw_data"]], { type: 'text/plain' });
                // 3. Create a temporary object URL
                const url = URL.createObjectURL(blob);
                // 4. Create and click a hidden <a>
                const a = document.createElement('a');
                a.href = url;
                a.download = 'server_data.txt';
                document.body.appendChild(a);
                a.click();
                // 5. Cleanup
                URL.revokeObjectURL(url);
                a.remove();
            } else {
                console.warn("Please select a dataset!")
            }
        })
    </script>
    <!-- Login Button: -->
    <script defer>
        const login_button = document.getElementById("login-button");

        login_button.addEventListener("click", async () => {
            window.location.href = "/login";
        })
    </script>
    <!-- About Button: -->
    <script defer>
        const about_button = document.getElementById("about-button");

        about_button.addEventListener("click", async () => {
            window.location.href = "/about";
        })
    </script>
</body>
</html>