<html>
<head>
    <title>Audimus Ground Station - Guest</title>
</head>
<body>
<div class="content-box">
    <h1>Click for data!</h1>
    <input type="text" id="text_input" name="whatever" placeholder="who cares">
    <button id="button">Click me!</button>
    <p id="result">Data to be retrieved</p>
</div>
<script defer>
        const button = document.getElementById("button");
        const input = document.getElementById("text_input");
        const result = document.getElementById("result");

        button.addEventListener("click", async () => {
            const start_date = input.value.trim()
            const response = await fetch("/data", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    start_date: start_date
                })
            });
            const text = await response.text();
            result.innerHTML = text

            // 2. Create a Blob (in-memory file)
            const blob = new Blob([text], { type: 'text/plain' });

            // 3. Create a temporary object URL
            const url = URL.createObjectURL(blob);

            // 4. Create and click a hidden <a>
            const a = document.createElement('a');
            a.href = url;
            a.download = 'server_data.txt';
            document.body.appendChild(a);
            a.click();

            // 5. Cleanup
            URL.revokeObjectURL(url);
            a.remove();
        })
    </script>
</body>
</html>
